@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-VariableFont_wght.ttf') format('ttf');
}


body{
  margin: 0;
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  background-image: url('../public/game-bg-2560x1440px.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 32px;
}

.content-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 2px;
}

.board-0{
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.board-1{
  border-left:  3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.board-2{
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.board-3{
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.board-4{
  border: 3px solid #fff;
}

.board-5{
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
}

.board-6{
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}

.board-7{
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.board-8{
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  background: transparent;
  border: 2px solid #9A96A0;
}

.ultimate-board {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: auto;
}

.highlight {
  box-shadow: 0px 60px 80px 0px rgba(0,0,0,0.6), 32px -25px 32px -4px rgba(0,0,0,0.14);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.player-turn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 120px;
  right: 160px;
}

.active-board {
  background: rgba(29, 255, 119, 0.31);
} 

.status-bar {
  display: flex;
  align-items: center;
}

.winner-message {
  margin-left: 20px;
  font-weight: bold;
}

.has-selected-board :not(.selected-board) {
  background-color: transparent;
}


/* Texts styles */
.text-white{
  color: #fff;
}

.text-light{
  font-weight: 200;
}

.text-normal{
  font-weight: 400;
}
 
.text-bold{
  font-weight: 500;
}

.text-bolder{
  font-weight: 700;
}

/* Spacing */
.m-0{
  margin: 0;
}

.mt-0{
  margin-top:0;
}

.mb-0{
  margin-bottom: 0;
}



/* Welcome page */
.welcome-page-wrapper{
  max-width: 55%;
  margin: 50px auto;

  .welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title{
      font-weight: 400;
      font-size: 36px;
      color: #fff;
    }
  }
}


/* Players select page */
.players-select-wrapper{  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:125px;
}

.logos-board-wrapper{
  display: flex;
}

.logos-board{
  width: 448px;
  margin: 100px;
}

.logo-square-wrapper{
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #9A96A0;
  margin: 7px;
}

.logo-square{
  width: 120px;
  height: 120px;
  border-color: transparent;
}

.player-logo{
  width: 145px;
  height: 145px;
  flex-shrink: 0;
}

.js-logo{
  background-image: url('../images/JS.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.js-selected{
  border: none;
  outline: 6px solid #F7DF1E;
}

.ts-logo{
  background-image: url('../images/typescript.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.ts-selected{
  border: none;
  outline:  6px solid #007ACC;
}

.react-logo{
  background-image: url('../images/react.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.react-selected{
  border: none;
  outline: 6px solid #61DAFB;
}

.svelte-logo{
  background-image: url('../images/svelte.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.svelte-selected{
  border: none;
  outline: 6px solid #FF5C00;
}

.angular-logo{
  background-image: url('../images/angularjs.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.angular-selected{
  border: none;
  outline: 6px solid #F00;
}

.vue-logo{
  background-image: url('../images/vue.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.vue-selected{
  border: none;
  outline: 6px solid #29A46A;
}

.aurelia-logo{
  background-image: url('../images/aurelia.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.aurelia-selected{
  border: none;
  outline: 6px solid #FF37D3;
}

.node-logo{
  background-image: url('../images/node-js.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.node-selected{
  border: none;
  outline: 6px solid #6AF234;
}

.ember-logo{
  background-image: url('../images/ember.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}

.ember-selected{
  border: none;
  outline: 6px solid #A34F13;
}

.game-start-timer{
  position: absolute;
  bottom: 70px;
  color:  #fff;
}

/* Ultimate Board */
.player-logo-square{
  width: 110px;
  height: 110px;
  background-size: contain;
}

.square-winner{
  height: 304px;
  width: 304px;
}

/* Congrats page */
.congrats-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(34, 11, 40, 0.60);
  backdrop-filter: blur(3px);
  top: 0;
}

.congrats-tex{
  position: absolute;
  width: 40%;
  top: 330px;
  margin: 30px auto 0;
  left: 0;
  right: 0;
}

.congrats-text h1{
  color: #FF8E00;
  text-align: center;
  text-shadow: -3px 7px 20px #C80A00;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.winner-text{
  display: flex;
  align-items: center;
}

.winner-logo{
  width: 85px;
  height: 85px;
  margin-right: 10px
}

.congrats-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  margin: 300px auto;
  border: 13px solid #6B3E94;
  padding: 60px 0 55px;


  .text-white{
    font-size: 48px;
    line-height: 100%;
  }
}

.congrats-border{
  height: 550px;
  width: 800px;
  position: absolute;
  left: calc(100vw / 2 - 435px);
  top: 320px;
  border: 13px solid #D04213;
}

.fireworks{
  height: 100vh;
  width: 100%;
  position: absolute;
}

.hourglass{
  display: block;
  background-image:url('../images/hourglass.svg');
  background-repeat: no-repeat;
  height: 50px;
  width: 60px;
}

.player-timer{
  position: absolute;
  top: 30px;
  right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.move-explanation{
  width: 250px;
  position: absolute;
  color: white;
  right: 20px;
  top: 300px;
}